.app {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 440px;
  background-color: #bbada0;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  border-radius: 5px;
  aspect-ratio: 1;
}

.tile.tile-2 {
  background-color: #eee4da;
  color: #776e65;
}
.tile.tile-4 {
  background-color: #ede0c8;
  color: #776e65;
}
.tile.tile-8 {
  background-color: #f2b179;
  color: #f9f6f2;
}
.tile.tile-16 {
  background-color: #f59563;
  color: #f9f6f2;
}
.tile.tile-32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}
.tile.tile-64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}
.tile.tile-128 {
  background-color: #edcf72;
  color: #f9f6f2;
}

.tile.empty {
  background-color: #cdc1b4;
  color: transparent;
}
